				                          
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% load staticfiles %}
<html>
	
	<body>
		<div class="container"> 
			 <div class="contentArea">
			 	  <div class="content">
				  	   <div class="contentleft">
					   {% block contentleft %}
					   <div id="templatemo_main">
<div class="box home_box4 ">
            	
{% for field in elev %}
    
<li><b>{{ field.label }}:</b> {{ field.data }}</li>
{% endfor %}
<p> </p><p> </p>
            </div>
<button type="button">Avslutt deltager</button>

<div class="box home_box3 ">

<h1> Deltagelse</h1>
						 {% render_table fravar %}
						          <p> </p>

						 <h1> Vedtak</h1>

						  {% render_table vedtak %}
         <p> </p>
		             </div>


 
            
          
				  		</div>

						{% endblock %}	
				  		</div>
				  </div>
			</div>
		</div>
	</body>
</html>
	