
		
	
							                          
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% load staticfiles %}
<html>
	
	<body>
		<div class="container"> 
			 <div class="contentArea">
			 	  <div class="content">
				  	   <div class="contentleft">
					   {% block contentleft %}
						<form action="/Norskkurs/registrerfravar">
    						<input type="submit" value="Registrer fravær">
						</form>

						
						<form action="/Norskkurs/visfravar" method="POST">
                        {% csrf_token %}
                           <input type="submit" name="alle" value="Vis alle fravær">
    						<input type="submit" name="store" value="Vis alle med mer enn 30 timer fravær">
						</form>
						<p><p>
						
                                          



	
						{% endblock %}	
				  		</div>
				  </div>
			</div>
		</div>
	</body>
</html>
	