						                          
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% load staticfiles %}
<html>
	
	<body>
		<div class="container"> 
			 <div class="contentArea">
			 	  <div class="content">
				  	   <div class="contentleft">
					   {% block contentleft %}
					<h3>{{ message_text }}</h3>

						{% endblock %}	
				  		</div>
				  </div>
			</div>
		</div>
	</body>
</html>
	