				                          
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% load staticfiles %}

					   {% block contentleft %}
					   			<div class = "center">		   

					   <div id="templatemo_nyttvedtak">


  <h1>Nytt vedtak</h1>

	<form method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Lagre" />
</form><p><p>

             </div>

            
          

						{% endblock %}	
