
						                          
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% extends "base.html" %}
{% load render_table from django_tables2 %}

{% load staticfiles %}
<html>
	
	<body>
		<div class="container"> 
			 <div class="contentArea">
			 	  <div class="content">
				  	   <div class="contentleft">
					   {% block contentleft %}
						<h1>Search</h1>
                        bare søk på navn fungerer
						<form method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Search" />
</form><p><p>
						<h1>Results:</h1>
                                          
{% if not res %}
	<h2> No results <h2>
{% endif %}
{% for customer in res %}
        <li><a href="/Norskkurs/{{ customer.id }}/">{{ customer.fornavn }}</a></li>
    {% endfor %}
<p> </p><p> </p>

						{% endblock %}	
				  		</div>
				  </div>
			</div>
		</div>
	</body>
</html>
	